* {
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}

.images{
    height: auto;
    width: 500px;
}